// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F68B3A;
$green: #1EDD88;
$gray: #0E0000;
$very-light-gray: #DAE0E6;
$soft-gray: #fcf9f9;
$light-gray: #F4F4F4;
$rosee: #fdf5eb;
$light-orange: #F4C36F;
$white: #FFFFFF;
$black: #222222;
$marketplace: #1D3461;
$impact: #FB3640;
$post: #FE9920;

$background: #f5f3f1;
