// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F68B3A;
$green: #1EDD88;
$gray: #0E0000;
$very-light-gray: #DAE0E6;
$soft-gray: #fcf9f9;
$light-gray: #F4F4F4;
$rosee: #f2e8dc;
$light-orange: #F4C36F;
$white: #FFFFFF;
$black: #222222;

$marketplace: #087E8B;
$impact: #FF5A5F;
$post: #FFBA08;


// $marketplace: #1D3461;
// $marketplace: #e367fc;
// $impact: #FB3640;
$light-impact: #ADE7D4;
// $impact:#79C7C5;
$posts: #FE9920;
// $post: #FEFA17;

$background: #f5f3f1;
