.karma {
  border-top: 1px solid #222222;
  margin-top: 10px;
  padding-top: 50px;
  text-align: center;
}

.container {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.rating-table {
  padding-left: 50px;
  padding-right: 50px;
  h5 {
  border-bottom: 0.5px solid #222222;
  padding: 5px;
  }
}

.pale {
  opacity: 0.2;
}
