
<div class="card-container">
  <div class="row">
      <div class="col-12 p-2">
        <div class="card-product m-2">
          <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, crop: :fill %>
          <% end %>
            <div class="card-header d-flex justify-content-between">
              <h2 class="myevent-title"><%= link_to event.title, event_path(event)%></h2>
              <div id="date"><i class="far fa-calendar-alt"></i>
                <%= (event.start_time).to_s(:short) %> <br>
                <%= event.neighbourhood %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

