<div class="post">
  <div class="title-post">
    <% if post.title.present? %>
      <h1 class="title-post"><%= post.title.upcase %></h1>
    <% end %>
  </div>
  <% if post.title.present? %>
    <div class="title-post">
      <h1 class="title-post"><%= post.title.upcase %></h1>
    </div>
  <% end %>
  <div class="post-content">
    <%= post.content %>
  </div>
</div>
