
<h3 class="Logo">IMPACT</h3>

<div class="button-home">
  <%= link_to "MARKETPLACE", "/categories", class: "btn btn-flat btn-top" %>
  <%= link_to "IMPACT", "/events", class: "btn btn-flat btn-mid" %>
  <%= link_to "GET INSPIRED", "/posts", class: "btn btn-flat btn-low" %>
</div>
