<div class="home">
  <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="homepage-pink-circle"></div>
    <div class="homepage-black-circle"></div>
  </div> -->
  <div class="logo"><img src="https://i.ibb.co/kxPt2PZ/Connect-Abstract-Modern-Logo-Template-5.png" style="width:230px"></div>

  <div class="button-home">
    <div class="marketplace">
      <%= link_to "MARKETPLACE", "/categories", class: "btn btn-flat btn-top" %>
    </div>
    <div class="impact">
      <%= link_to "IMPACT", "/events", class: "btn btn-flat btn-mid" %>
    </div>
    <div class="posty">
      <%= link_to "GET INSPIRED", "/posts", class: "btn btn-flat btn-low" %>
    </div>

    <div class="tagline">
      <h6>BE PART OF THE CHANGE</h6>
    </div>
  </div>
</div>
