<div class="container">
  <div class="karma">
    <h1>How We Rate</h1>
    <h5>Unpacking the rating system</h5><br>

    <p>Impact ratings give you the power to make better choices when you shop. Choices that reflect your commitment to doing better by the planet, people and animals. Choices that create a sustainable future in our industry. <br><br>
    We believe all products should be responsible for, and transparent about, their impact. How were the products you’re using made, and how do your favourite brands stack up on the issues that matter?<br><br>
    The Impact brand rating system considers the most important social and environmental issues facing the industry to assess a product’s impact on people, the planet and animals.</p><br>
    <div class="rating-table">
      <h5>Great</h5>
      <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i>
      <br><br>
      <h5>Good</h5>
      <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling pale "></i><br><br>
      <h5>It's a start</h5>
      <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling pale"></i> <i class="fas fa-seedling pale "></i><br><br>
      <h5>Not good enough</h5>
      <i class="fas fa-seedling"></i> <i class="fas fa-seedling"></i> <i class="fas fa-seedling pale"></i> <i class="fas fa-seedling pale"></i> <i class="fas fa-seedling pale"></i></i><br><br>
      <h5>We avoid</h5>
      <i class="fas fa-seedling"></i> <i class="fas fa-seedling pale"></i> <i class="fas fa-seedling pale"></i> <i class="fas fa-seedling pale"></i> <i class="fas fa-seedling pale"></i></i><br><br>

    </div>

  </div>

</div>
