<div class="card-trip">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAyZhUOw0VKq5UPe_VSStPumk4k8rdZRkawg&usqp=CAU" />
  <div class="card-trip-infos">
    <div>
      <h2>Recycled Creativ Festival</h2>
      <p>Short description here! To give the user some infos about the event</p>
    </div>
    <h2 class="card-trip-pricing">39</h2>
  </div>
</div>




<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt3xTK-AQtvqw3Wkqs7OfygtyLTyzaVKbmCg&usqp=CAU)">FASHION</div>
