<div class="container">
  <div class="dolla">
    <div class="karmadollar">
      <i class="fas fa-dollar-sign"></i>
    </div>

      <p class="pointhead">You have <%= current_user.karma_points %> karmapoints.
          <br><br>
      </p>

      <p>Gain more karma points by joining events. Per event you can gain 10 karma points.</p>
  </div>
</div>

