<div class="container">
  <div class="daily-quote">
    <i class="fas fa-quote-left"></i><br><h1 class="quote">We can't control everything that happens, but we can change our experience of those things</h1><i class="fas fa-quote-right"></i>
  </div>

  <div class="posts">
    <% @posts.each do |post| %>
      <div class="post">
       <h1><%= link_to post.title.upcase, post_path(post) %></h1>
      </div>
    <% end %>
  </div>
  <%= link_to 'NEW', new_post_path, class: "btn-landing" %>
</div>
