.btn-flat {
  color: $soft-gray;
  padding: 25px 30px;
  border-radius: 4px;
  margin: 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "montserrat";
  width: 300px;
}

.button-home {
  text-align: center;
  // margin-top: 110px;
  vertical-align: middle;
}

.logo {
  padding-top: 20px;
  text-align: center;
  // font-size: 20px;
  // font-weight: bold;
  // letter-spacing: 8px;
  // margin-top: 29px;
  // font-family: "montserrat";

}

.btn-top {
  // background: $marketplace;
  background: #FD4921;
}
.btn-mid {
  // background: $impact;
  background: #254441;
}
.btn-low {
  // background: $post;
  background: #43AA8B;
}
//  .btn-top {
//   border: 1px solid;
//   border-color: $black;
//   // background-color: $black;
//   border-radius: 60px;
//   color: $black;
// }
// .btn-mid {
//   // background-color: $black;
//   border: 1px solid;
//   border-color: $black;
//   border-radius: 60px;
//   color: $black;
// }
// .btn-low {
//   border: 1px solid;
//   border-color: $black;
//   border-radius: 60px;
//   color: $black;
// }

.event {
  font-size: 15px;
  font-weight: 600;
  background-color: $impact;
  padding: 20px 30px !important;
  margin-top: 12px;
}
.joined{
  background-color: $background;
  border: 1px solid $impact;
  color: $impact;
  border-radius: 5px;
}
.btn-comment {
  background-color: $soft-gray;
  font-weight: bold;
  color: $post;
  padding: 5px 15px;
  border-radius: 50px;
  border: 2px solid;
  border-color: $post;
}

.follow {
  text-align: right;
  top: -8px;
  position: relative;
  width: 131px;
  left: 200px;
  a {
    color: $post !important;
    text-decoration: none;
  }
}

.unfollow {
  text-align: right;
  top: -8px;
  position: relative;
  width: 108px;
  left: 222px;
  a {
    color: $post !important;
    text-decoration: none;
  }
}

.btn-map {
  background-color: $soft-gray;
  color: $impact;
  padding: 5px 12px;
  border-radius: 50px;
  border: 1px solid;
  border-color: $impact;
  font-size: 13px;
}

.btn-map-show {
  border-bottom: 1px solid #222222;
  text-align:center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 3px;
}

.showmap {
  text-align: center;
  margin-bottom: 8px;
}

.showmap-event {
  text-align: left;
  margin-bottom: 8px;
}
