.card-product > img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }

  .card-product {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    height: fit-content;
    border-radius: 5px;
  }
  .card-product h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    font-family: "montserrat";;
  }

  .card-product p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    margin: 5px;
    padding: 8px;
  }

  .card-product .product-description {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    font-family: "montserrat";
  }

  .card-display {
      display: inline-flex;
  }

  .btn-product {
      background-color: $marketplace;
      color: white;
      border-radius: 0 0 4px 4px;
      font-family: "montserrat";
      font-weight: 500;
      letter-spacing: 4px;
      padding: 8px 10px !important;
      font-size: 13px;
      margin: 0;
      position: relative;
      bottom: 0;
    }

  .h3 {
    font-family: "montserrat";
  }

  .card-header {
    padding-top: 10px;
    font-family: "montserrat";
    padding-bottom: 8px;
  }

