.comments{
  background-color: $soft-gray;
  border: 1px solid $very-light-gray;
  padding: 10px;
  li{
    list-style: none;
  }
}
.username{

}
.comment{
  display: flex;
}
.trash-bin-hidden{
  visibility: visible;
}
.trash-bin{
  visibility: hidden;
}
.fa-trash{
  color: $light-orange;
}
