.comments{
  background-color: $soft-gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid $very-light-gray;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  li{
    list-style: none;
  }
}
.username{
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #222222;
  margin-top: 4px;

}
.comment{
  display: flex;
}
.hidden{
  visibility: hidden;
}
// .trash-bin{
//   visibility: visible;
// }
.fa-trash{
  color: $post;
  padding-left: 10px;
}
ul{
  padding: 0;
}

.content-comment {
  margin-top: 4px;
}
