.container-events {
  width: 100%;
  padding-left: 25px !important;
  padding-right: 25px !important;
  justify-content: center;
  font-family: "montserrat";
  a {
    color: white;
  }
  h2 {
  font-family: "montserrat";
  font-size: 15px;
  color: black;
  margin-bottom: 8px;
  }
}


#linkawesome {
  color: $gray;
  font-size: 18px;
  margin-left: 160px;
}

.trash {
  font-size: 16px;
  margin-left: 305px;
}


.event-container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.main-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding-top: 8px;
  font-family: "montserrat";
}

