.daily-quote{
  margin-top: 10px !important;
  padding: 20 40px;
  width: 80%;
  // background-color: $rosee;
  margin: auto;
  // border-top: 15px solid $post;
  // border-bottom: 1px solid $post;
}
.quote{
  font-size: 19px;
  text-align: center;

}
.fa-quote-right{
  margin-left: 268px;
  color: $post;
}
.fa-quote-left{
  margin-left: -15px;
  color: $post;
}
