.daily-quote{
  margin-top: 20px !important;
  padding: 40px;
  width: 80%;
  background-color: $rosee;
  margin: auto;
  // border-top: 15px solid $orange;
  border-bottom: 15px solid $light-orange;
}
.quote{
  font-size: 19px;
  text-align: center;
}
.fa-quote-right{
  margin-left: 193px;
  color: $orange;
}
.fa-quote-left{
  margin-left: -15px;
  color: $orange;
}
