.btn-event {
    background-color: $impact;
    border-radius: 0 0 4px 4px;
    font-family: "montserrat";
    font-weight: 500;
    letter-spacing: 4px;
    padding: 8px 10px !important;
    font-size: 15px;
    margin: 0;
    position: relative;
    bottom: 0;
  }
   
  .index a {
    color: white;
  }

  .card-event-index {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    height: fit-content;
    border-radius: 5px;
  }

  .card-event-index > img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }

  .event-category,
  .neighbourhood {
      font-size: 15px;
      padding-left: 8px;
  }

  .event-desc {
      font-size: 15px;
  }

  .date {
      font-size: 12px;
  }
  
  .far {
      color: $impact;
      size: 17px;
  }
  .event-desc {
      margin: 5px;
      padding: 8px;
    }
    
  .card-header-index {
    padding-top: 10px;
    font-family: "montserrat";
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .event-card {
    margin-top: 20px;
    border-top: 1px solid $impact;

    h2 {
      margin-top: 5px;
      font-size: 1.5rem;
    }
    p {
      font-size: 15px;
    }
  }

  #date {
    padding-top: 8px;
    padding-right: 5px;
    font-size: 15px;
  }
  .index {
    padding: 16px;
  }