.btn-event {
    background-color: $impact;
    border-radius: 0 0 4px 4px;
    font-family: "montserrat";
    font-weight: 500;
    letter-spacing: 4px;
    padding: 16px 10px !important;
    font-size: 15px;
    margin: 0;
    position: relative;
    bottom: 0;
    color: white;
    width: 100%;
  }

  .index a {
    color: white;
  }

  .card-event-index {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    height: fit-content;
    border-radius: 5px;
  }

  .card-event-index > img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }

  .event-category,
  .neighbourhood {
      font-size: 15px;
      padding-left: 8px;
  }

  .event-desc {
      font-size: 15px;
      text-align: justify;
  }

  .date {
      font-size: 12px;
  }

  .far {
      color: $impact;
      size: 17px;
  }
  .event-desc {
      margin: 5px;
      padding: 8px;
    }

  .card-header-index {
    padding-top: 10px;
    font-family: "montserrat";
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .line-under-navbar {
    margin-top: 20px;
    border-top: 1px solid $impact;
    padding-left: 26px;
    padding-right: 26px;
  }

    h2 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 1.5rem;

    }
    p {
      font-size: 15px;
    }

  #date {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: right;
  }

