.container-events {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  font-family: "montserrat";


}

.container-events h2 {
  font-family: "montserrat";
  font-size: 15px;
  color: black;
  margin-left: 5px;
  margin-bottom: 8px;
}


#linkawesome {
  color: $gray;
  font-size: 18px;
  // margin-left: 160px;
}

.trash {
  font-size: 16px;
  margin-left: 305px;
}

.event-container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.main-title {
  font-size: 16px;
  margin: 0;
  padding-top: 8px;
  font-family: "montserrat";
}

.event-description {
  font-size: 15px;
  text-align: justify;
}



.myevent-sec {
  display: flex;
  h6 {
    border-left: 3px solid #222222;
    padding-left: 8px;
    font-weight: bold;
  }
}












