.cont_event {
  position: relative;
  .img_event {
    display: block;
    .icons {
      position: absolute;
      bottom:422px;
      left:291px;
      display: flex;
      }
    }

  }

.editx {
   text-align: center;
  a {
  color: #222222;
  border-bottom: 1px solid #222222;
  padding-bottom: 3px;
  }
}
