.tagline {
  margin-top: 30px;
  h6 {
    letter-spacing: 3px;
    font-size: 14px;
  }
}

// .home {
//   border-left: 1px solid #222222;
//   border-right: 1px solid #222222;
//   margin-left: 10px;
//   margin-right: 10px;
//   height: 100 vh;
// }
