.navbar-posts{
  background-color: $background;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  li{
    float: none;
    display: inline-block;
  }
}
ul{
  a{
    color: $orange;
  }
}
#plus{
  text-align: center;
  margin-top: 11px;
  font-size: 27px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid $orange;
}
.navbar-hidden {
  display: none !important;
}
