.navbar-lewagon {
  justify-content: space-between;
  background: #f5f3f1;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 0px;
}

.navbar {
  background: transparent;
  // border-bottom: 1px solid #222222;
}

.navbar-toggler {
  border: none;
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}


.navbar-fullscreen {
    min-height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    // background: white;
    width: 100%;
    left: 0px;
    background: #222222;
}

.navbar-toggler-z {
  z-index: 101;
  // color: #222222 !important;
  // margin-top: 10px;
  font-size: 30px !important;
  color: white !important;
}

.collapsed {
  color: #222222 !important;
}

.nav-list {
  margin-left: 2rem;
  margin-top: 3rem;
  font-family: "montserrat";
}

.nav-name {
  color: white !important;
  font-size: 20px;
  padding: 0px;
  margin-bottom: 3px;

}

.nav-name-sec {
  color: white !important;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 100px;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

.nav-name-sec:after {
    content: "";
    display: block;
    width: 50%;
    padding-top: 10px;
    border-bottom: 1px solid white;
}

.nav-item {
  color: white;
}


.nav_impact {
  text-decoration: none;
  // margin-top: 10px;
  display: flex;
  align-items: center;
  a {
    color: #222222;
    font-size: 30px;
    padding: 0.25rem 0.75rem;
    // margin-left: 110px;
    }
  i {
    margin-right: 10px;
  }
}


.fa-bomb {
  border: 2px solid #222222;
  border-radius: 50%;
  padding: 8px;
}

.avatar-bordered {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin-left: 88px;

}

.greta {
  width: 40px;
  display:flex;
  item-align: center;

}

 .profile-avatar {
    margin: 0px !important;
  }

.carot {
  font-size: 30px;
}


.points {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat';
  text-align: center;
  margin-left: 93px;
  a {
    font-size: 25px;
  }
}

.social {
  color: white;
  font-size: 30px;
  padding-right: 10px;
  margin-top: 100px;


}

.social_first {
  padding-left: 2rem;
  color: white;
  font-size: 30px;
  margin-top: 100px;
  padding-right: 10px;
}

.logo-nav a{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-top: 29px;
    font-family: "montserrat";
    margin-left: 50px;
}
