.post{
  margin-top: 25px !important;
  margin-bottom: 5px !important;
  background-color: $soft-gray;
  border: 1px solid $very-light-gray;
  // border-bottom: 15px solid $post;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts {

  background: transparent;
}

.title-post{
  font-size: 19px;
  // background-color: $rosee;
  margin-left: 4px;
      // margin-top: 18px;
  // border: 1px solid $very-light-gray;
  // a{
  //   color: $orange;
  //   font-weight: bold;
  // }
}
.post-content{
  text-align: justify;
  border-top: 1px solid $very-light-gray;
  border-bottom: 1px solid $very-light-gray;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
.userdetails{
  margin-left: 7px;
}
.category{
  text-align:right;
  position: relative;
  top: -29px;
  // background-color: $orange;
  width: 80px;
  margin-left: 67%;
  color: $black;
}
.striscia{
  opacity: 0.6;
  background-color: $post;
  bottom: 9%;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.edit{
  padding-left: 10px;
  a{
    color: $post;
  }
}
.heart{
  padding-left: 10px;
}

.photo-of-the-post{
  width: 100%;
}

.tab-content {
  margin-top: 18px;
}

.single-nav-item {
  border: none;
}
