.post{
  background-color: $soft-gray;
  border: 1px solid $very-light-gray;
  border-bottom: 15px solid $light-orange;
  margin-top: 20px !important;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
}
.title-post{
  font-size: 19px;
  // background-color: $rosee;
  text-align: center;
  // border: 1px solid $very-light-gray;
  // a{
  //   color: $orange;
  //   font-weight: bold;
  // }
}
.post-content{
  border-top: 1px solid $very-light-gray;
  border-bottom: 1px solid $very-light-gray;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}
