.image img {
  width: 100%;
  border-radius: 5px;
}

.title {
  // margin-left: 20px;
  font-family: "montserrat";
}


.small {
  font-size: 13px;
  font-weight: 400;
}

.desc {
  margin-top: 20px;
}
