.user-name{
  top: 303px;
  position: absolute;
}
#follow-unfollow{
  text-align: right;
  top: -46px;
  position: relative;
}
.name{
  text-align: center;
  font-size: 20px;
  font-family: "montserrat";
}
.single-nav-item{
  padding: 22px;
  border: 1px solid !important;
  border: $black !important;
  border-color: grey;
  width: 33%;
}
.nav-item{
  color: black;
}


.tabs-profile-main {
  margin-top: 55px;
}
