<div class="container">
  <h3>Top products for <%= @category.name %></h3>
  
  <% @products.each do |product| %>
    <div class="product-card">
      <%= product.title %>
    </div>
  <% end %>
</div>
